
/*  Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,500;1,100;1,200;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body,
button,
input,
textarea{
    font-family: 'Raleway', sans-serif;
    font-size: 0.94rem;
}

body {
    margin: 3.5rem 0 0 0;
    background-color: rgb(231, 225, 225);
    color: rgb(123, 118, 118);
}

button{
    cursor: pointer;
    border: none;
    outline: none;
}

h1,h2,h3{
    color: rgb(36, 35, 35);
    font-weight: 600;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

/* CSS Classes that can be used again */

.section{
    padding: 5.5rem 0 1rem;
}

.section__title,
.section__title-center{
    font-size: 1.25rem;
    margin-bottom: 2rem;
    line-height: 140%;
}

.section__title-center{
    text-align: center;
}

.container{
    max-width: 968px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.grid{
    display: grid;
}

.main{
    overflow: hidden;
}