
/*  Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,500;1,100;1,200;1,300;1,400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body,
button,
input,
textarea{
    font-family: 'Raleway', sans-serif;
    font-size: 0.94rem;
}

body {
    margin: 3.5rem 0 0 0;
    background-color: rgb(255, 255, 255);
    color: rgb(141, 141, 141);
}

button{
    cursor: pointer;
    border: none;
    outline: none;
}

h1,h2,h3{
    color: rgb(55, 55, 55);
    font-weight: 600;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

/* CSS Classes that can be used again */

.section{
    padding: 5.5rem 0 1rem;
}

.section__title,
.section__title-center{
    font-size: 1.25rem;
    margin-bottom: 2rem;
    line-height: 140%;
}

.section__title-center{
    text-align: center;
}

.container{
    max-width: 968px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.grid{
    display: grid;
}

.main{
    overflow: hidden;
}

/* Header */

.header{
    width: 100%;
    background-color: rgb(255, 250, 250);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition: .4s; 
}

/* navigation */
.navigation {
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navigation_logo,
.navigation_toggle,
.navigation_close{
    color: rgb(55, 55, 55);
}

.navigation_logo{
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -1px;
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    transition: .3s;
}

.navigation_logo-icon{
    font-size: 1.15rem;
    color: rgb(184, 102, 102);
}

.navigation_logo:hover{
    color: rgb(184, 102, 102);
}

.navigation_toggle{
    display: inline-flex;
    font-size: 1.25rem;
    cursor: pointer;
}

@media screen and (max-width: 768px){
    .navigation_menu{
        position: fixed;
        background-color: #fff;
        width: 80%;
        height: 100%;
        top: 0;
        right: -100%;
        box-shadow: -2px 0 4px hsla(152, 24%, 15%, .1);
        padding: 4rem 0 0 3rem;
        border-radius: 1rem 0 0 1rem;
        transition: .3s;
        z-index: 100;
    }
}

.navigation_close{
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1.25rem;
    cursor: pointer;
}

.navigation_list{
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.navigation_link{
    color: rgb(55, 55, 55);
    font-weight: 500;
    transition: .3s;
}

.navigation_link:hover{
    color: rgb(184, 102, 102);
}

/* show menu */
.show_menu{
    right: 0;
}

/* home */

.home{
    padding: 3.5rem 0 2rem;
  }
  
  .home_container{
    position: relative;
    row-gap: 2rem;
  }
  
  .home_img{
    width: 350px;
    justify-self: center;
  }
  
  .home_title{
    font-size: 2rem;
    line-height: 140%;
    margin-bottom: 1rem;
  }
  
  .home_description{
    margin-bottom: 2.5rem;
  }

  .home_social{
    position: absolute;
    top: 2rem;
    right: -1rem;
    display: grid;
    justify-items: center;
    row-gap: 3.5rem;
  }
  
  .home_social-follow{
    font-weight: 500;
    font-size: 0.75rem;
    color: rgb(184, 102, 102);
    position: relative;
    transform: rotate(90deg);
  }
  
  .home_social-follow::after{
    content: '';
    position: absolute;
    width: 1rem;
    height: 2px;
    background-color: rgb(184, 102, 102);
    right: -45%;
    top: 50%;
  }
  
  .home_social-links{
    display: inline-flex;
    flex-direction: column;
    row-gap: .25rem;
  }
  
  .home_social-link{
    font-size: 1rem;
    color: rgb(184, 102, 102);
    transition: .3s;
  }
  
  .home_social-link:hover{
    transform: translateX(.25rem);
  }

  /* Buttons */

  .button{
    display: inline-block;
    background-color: rgb(184, 102, 102);
    color: #FFF;
    padding: 1rem 1.75rem;
    border-radius: 0.5rem;
    font-weight: 500;
    transition: 0.3s;
  }
  
  .button:hover{
    background-color: rgb(143, 79, 79);
  }
  
  .button__icon{
    transition: 0.3s;
  }
  
  .button:hover .button__icon{
    transform: translateX(0.25rem);
  }